---
import type { CollectionEntry } from "astro:content";
import { t } from "../../utils/t";
import ProductCard from "./ProductCard.astro";
import { Image } from "astro:assets";

type Category = CollectionEntry<"categories">["data"];

type Props = {
  category: Category;
};
const { lang = "" } = Astro.params;
const { category } = Astro.props;

const objectPosition = category.image?.focalPoint
  ? `${category.image.focalPoint.x}% ${category.image.focalPoint.y}%`
  : "center center";
---

<section id={category.id} class="mb-24" style="scroll-margin-top: 64px;">
  <div class="relative h-64 md:h-80 w-full overflow-hidden rounded-lg mb-12">
    {
      category.image ? (
        <Image
          src={category.image.src}
          width={category.image.width}
          height={category.image.height}
          alt={category.image.title || t(category.name, lang)}
          class="absolute inset-0 w-full h-full object-cover"
          style={{ objectPosition: objectPosition }}
        />
      ) : (
        <div class="absolute inset-0 bg-card" />
      )
    }

    <div class="absolute inset-0 bg-black/50 flex items-center justify-center">
      <h2
        class="text-4xl md:text-6xl font-extrabold tracking-wider uppercase"
        style={{ textShadow: "2px 2px 8px rgba(0,0,0,0.7)" }}
      >
        {t(category.name, lang)}
      </h2>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-8">
    {category.products.map((product) => <ProductCard product={product} />)}
  </div>

  {
    category.id === "ilvveqttxq754go" && (
      <div class="mt-8 w-full flex justify-center">
        <img class="w-full max-w-3xl" src="/punto.webp" />
      </div>
    )
  }
</section>
