---
import type { CollectionEntry } from "astro:content";
import { t } from "../../utils/t";
import ProductCard from "./ProductCard.astro";
import { Image } from "astro:assets";

type Category = CollectionEntry<"categories">["data"];

type Props = {
  category: Category;
  lang: CollectionEntry<"languages">["data"];
};

const { category, lang } = Astro.props;

const categoryId = "ac77db14-3c15-4138-9ba6-e7e089524ac8";

let objectPosition = "center";

if (
  category.image &&
  category.image.focalPoint &&
  category.image.focalPoint.x &&
  category.image.focalPoint.y
) {
  const { x, y } = category.image.focalPoint;
  const { width, height } = category.image;

  const xPos = (x / width!) * 100;
  const yPos = (y / height!) * 100;

  objectPosition = `${xPos.toFixed(2)}% ${yPos.toFixed(2)}%`;
}
---

<section id={category.id} class="mb-24" style="scroll-margin-top: 64px;">
  <div class="relative h-64 md:h-96 w-full overflow-hidden rounded-lg mb-12">
    {
      category.image ? (
        <Image
          src={category.image.src}
          width={category.image.width}
          height={category.image.height}
          alt={category.image.title || t(category.name, lang.code)}
          class="absolute inset-0 w-full h-full object-cover"
          style={{ objectPosition: objectPosition }}
        />
      ) : (
        <div class="absolute inset-0 bg-card" />
      )
    }

    <div class="absolute inset-0 bg-black/50 flex items-center justify-center">
      <h2
        class="text-4xl md:text-6xl font-extrabold tracking-wider uppercase"
        style={{ textShadow: "2px 2px 8px rgba(0,0,0,0.7)" }}
      >
        {t(category.name, lang.code)}
      </h2>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-8">
    {
      category.products.map((product) => (
        <ProductCard product={product} lang={lang} />
      ))
    }
  </div>

  {
    category.id === categoryId && (
      <>
        <div class="text-center py-4 text-sm">
          * Todas las carnes van acompañadas de guarnición de papas fritas o
          papas panaderas
        </div>
        <div class="mt-8 w-full flex justify-center">
          <img class="w-full max-w-3xl" src="/punto.webp" />
        </div>
      </>
    )
  }
</section>
